# Entorno virtual
venv/
__pycache__/
*.pyc

# Entorno de producción
.env
.env.*

# Archivos temporales
*.log
*.sqlite3
.DS_Store

# Docker
*.tar
*.img
*.pid

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo
*.so

# Configuración IDEs
.vscode/
.idea/

# Coverage
htmlcov/
coverage.xml
.cache
.pytest_cache/

# Otros
dist/
build/
